*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}
body{
    background-color: #071849;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner{
    width: 100%;
}
.bannerMobile{
    display: none;
}

.contenedorDestacados{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.categorias_mobile{
    display: none;
}
.categorias_mobile img{
    width: 100%;

}
.contenedor_mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}
.contenedor_mobile img{
    width: 49%;
}
.contenedorDestacados_encabezado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
p{
    color: white;
    font-size: 34px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.aa{
    display: flex;
    justify-content: center;
}
.aCentral1{
    margin-bottom: 10px;
    display: flex;
    justify-content:flex-start;
}
.aCentral2{
    max-width: 100%;

    display: flex;
    justify-content: baseline;
}
.anima{
    max-width: 100%;
}
.anima1{
    max-width: 100%;
}
.animaMobile{
    display: none;
}
.anima:hover{
    animation: escala 1s;
    animation-fill-mode:both;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    box-shadow: 0px -1px 17px 3px rgba(168,194,235,0.75);
    -webkit-box-shadow: 0px -1px 17px 3px rgba(168,194,235,0.75);
    -moz-box-shadow: 0px -1px 17px 3px rgba(168,194,235,0.75);
}
.bannerSeparacion{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
}
.sectionProductos{
    width: 80%;
}
.contenedorProductos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.prod{
    width: 250px;
}
.prodMobile{
    display: none;
}

.contenedorProd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button{
    margin-top: 30px;
    padding: 1em 5em;
    background-color: #0138a5;
    color: white;
    border: none;
    border-radius: 40px;    
    box-shadow: 0px -1px 17px 3px #002b81;
    -webkit-box-shadow: 0px -1px 17px 3px #002b81;
    -moz-box-shadow: 0px -1px 17px 3px #002b81;
    margin-bottom: 50px;
}
button:hover{
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    padding: 1.5em 5em;
}
@keyframes escala {
    from{
        transform: scale(100%);
    }
    to{
        transform: scale(90%);
    }
    
}

@media (max-width: 500px) {
    .banner{
        display: none;
    }
    .bannerMobile{
        display: block;
        width: 100%;
    }
    .anima{
        display: none;
    }
    .animaMobile{
        display: block;
        width: 100%;
    }
    .contenedorDestacados{
        display: none;
    }
    .prod{
        display: none;
    }
    .prodMobile{
        width: 89.5px;
        display: block;
    }
    .categorias_mobile{
        width: 100%;
        display: block;
    }
    .categorias_mobile img{
        width: 100%;
    }
    .contenedor_mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .contenedor_mobile img{
        width: 49%;
    }
    p{
        font-size: 20px;
        letter-spacing: 5px;
    }
    button{
        padding: 2em 1.5em;
        font-size: 10px;
        margin-top: 10px;
    }
    .sectionProductos{
        width: 100%;
    }
    .contenedorProductos{
        width: 100%;
    }
}
